html {
	background:#54A1CC url(../images/body.jpg) no-repeat center center fixed; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

body {
	background:transparent;
	min-height:100%; 	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: Helvetica, Arial, sans-serif;
	color:#fff;
	color:rgba(255,255,255,.8); 
	font-weight: normal;
}

/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section { 
	z-index: 1;
	min-height:420px;
	width: 100%; 
	overflow:auto;
	height:100%;
	padding-top:100px;
	padding-bottom:50px; 
	display:none;
	top:0;
} 

/* Show one of sections */
#head { 
	display: block;
}

/********************************************************/
/*                      Typography                      */
/********************************************************/
a { 
	color:#000;
}

.btn-link {
	color:#fff
}

.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:rgba(0,0,0,.8);
}

.title,
.subtitle { 
	font-family: 'Quicksand', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:7em;
	margin-bottom:15px; 
	color:#FDF9F4; 
	line-height:1em;
}

/* Smallest */ 
@media only screen and (min-width : 1px) {
	.section { padding-top:40px;}
	.title { font-size:5em;}
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	.section { padding-top:40px;}
	.title { font-size:5em;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.section { padding-top:40px;}
	.title { font-size:5em;}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.section { padding-top:160px;}
	.title { font-size:7em;}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.section { padding-top:160px;}
	.title { font-size:7em;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.section { padding-top:160px;}
	.title { font-size:7em;}
}

/********************************************************/
/*                 Everything else                      */
/********************************************************/

.list-social .btn { 
	font-size:1.3em; 
}
.list-social .btn:hover, .list-social .btn:active, .list-social .btn:focus { 
	text-decoration: none; 
}

/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows { 	
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline { 
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}